<div class="contenedor">
    <div class="principal">
        <div class="principal-titulo">
            <div class="titulo">COMPRA AQUÍ AUTIWEB</div>
        </div>
        <div class="principal-datos">
            <div class="formu">
                <form [formGroup]="form_compra" class="form-inline">
                    <p>
                        <mat-form-field>
                            <input type="text" matInput placeholder="Nombre" formControlName="nombre" />
                            <mat-hint *ngIf="form_compra.get('nombre').errors && form_compra.get('nombre').touched">
                                <p *ngIf="formul.get('nombre').hasError('required')">
                                    *Se requiere este campo
                                </p>
                                <p *ngIf="formul.get('nombre').hasError('minlength')">
                                    *Minimo 3 caracteres
                                </p>
                                <p *ngIf="formul.get('nombre').hasError('maxlength')">
                                    *Maximo 15 caracteres
                                </p>
                                <p *ngIf="formul.get('nombre').hasError('pattern')">
                                    El username solo debe contener numero
                                </p>
                            </mat-hint>
                        </mat-form-field>
                    </p>
                    <p>
                        <mat-form-field>
                            <input type="text" matInput placeholder="Cedula" formControlName="documento" />
                            <mat-hint
                                *ngIf="form_compra.get('documento').errors && form_compra.get('documento').touched">
                                <p *ngIf="formul.get('documento').hasError('required')">
                                    *Se requiere este campo
                                </p>
                                <p *ngIf="formul.get('documento').hasError('minlength')">
                                    *Minimo 3 caracteres
                                </p>
                                <p *ngIf="formul.get('documento').hasError('maxlength')">
                                    *Maximo 15 caracteres
                                </p>
                                <p *ngIf="formul.get('documento').hasError('pattern')">
                                    El username solo debe contener numero
                                </p>
                            </mat-hint>
                        </mat-form-field>
                    </p>
                    <p>
                        <mat-form-field>
                            <input type="text" matInput placeholder="Correo" formControlName="correo" />
                            <mat-hint *ngIf="form_compra.get('correo').errors && form_compra.get('correo').touched">
                                <p *ngIf="formul.get('correo').hasError('required')">
                                    *Se requiere este campo
                                </p>
                                <p *ngIf="formul.get('correo').hasError('minlength')">
                                    *Minimo 3 caracteres
                                </p>
                                <p *ngIf="formul.get('correo').hasError('maxlength')">
                                    *Maximo 15 caracteres
                                </p>
                                <p *ngIf="formul.get('correo').hasError('pattern')">
                                    El username solo debe contener numero
                                </p>
                            </mat-hint>
                        </mat-form-field>
                    </p>
                    <button color="primary" type="submit" mat-raised-button [disabled]="form_compra.invalid"
                        (click)="enviarDatos($event)">Enviar mis datos</button>
                </form>
            </div>
        </div>
    </div>
    <div class="secundario">
        <p>Nos contacteremos contigo para realizar la compra.</p>
    </div>
</div>