<button mat-fab color="accent" style="float: left; margin-left: 10px;" [routerLink]="['/vehiculo']">
    <mat-icon>arrow_back</mat-icon>
  </button>
  
    <p class="titulo">REGISTRO ESTUDIANTE</p>
  
    <form [formGroup]="form" class="form-inline">
      <div class="formularioI">
  
        <div class="prueba">
          <mat-form-field appearance="outline" class="tamano">
            <mat-label class="textC">Nombre</mat-label>
            <input matInput placeholder="Juan David" formControlName="nombre_paciente" class="formu">
            <mat-hint *ngIf="form.get('nombre_paciente').errors && form.get('nombre_paciente').touched">
              <p *ngIf="form.get('nombre_paciente').hasError('required')">
                Se requiere este campo
              </p>
              <p *ngIf="form.get('nombre_paciente').hasError('maxlength')">
                Nombre demasiado largo
              </p>
              <p *ngIf="form.get('nombre_paciente').hasError('minlength')">
                Nombre demasiado corto
              </p>
              <p *ngIf="form.get('nombre_paciente').hasError('pattern')">
                El nombre no puede ocntener numeros ni signos
              </p>
            </mat-hint>
          </mat-form-field>
        </div>
        <div class="prueba">
          <mat-form-field appearance="outline" class="tamano">
            <mat-label>Apellido</mat-label>
            <input matInput placeholder="Castro Lopez" formControlName="apellido_paciente" class="formu">
            <mat-hint *ngIf="form.get('apellido_paciente').errors && form.get('apellido_paciente').touched">
              <p *ngIf="form.get('apellido_paciente').hasError('required')">
                Se requiere este campo
              </p>
              <p *ngIf="form.get('apellido_paciente').hasError('maxlength')">
                El apellido no deberia ser tan extenso
              </p>
              <p *ngIf="form.get('apellido_paciente').hasError('minlength')">
                El apellido debe contener mas letras
              </p>
            </mat-hint>
          </mat-form-field>
        </div>
        <div class="prueba">
          <mat-form-field appearance="outline" class="tamano">
            <mat-label class="formu">Documento</mat-label>
            <input matInput placeholder="1010101012" formControlName="numero_documento" class="formu">
            <mat-hint *ngIf="form.get('numero_documento').errors && form.get('numero_documento').touched">
              <p *ngIf="form.get('numero_documento').hasError('required')">
                Se requiere este campo
              </p>
              <p *ngIf="form.get('numero_documento').hasError('minlength')">
                Documento no valido, faltan numeros
              </p>
              <p *ngIf="form.get('numero_documento').hasError('maxlength')">
                Documento no valido, muy largo
              </p>
              <p *ngIf="form.get('numero_documento').hasError('pattern')">
                El documento solo debe tener numeros
              </p>
            </mat-hint>
          </mat-form-field>
        </div>
        <div class="prueba">
            <mat-form-field type="number" appearance="outline" class="tamano">
              <mat-label>Edad</mat-label>
              <input matInput placeholder="1111111" formControlName="edad" class="formu">
              <mat-hint *ngIf="form.get('edad').errors && form.get('edad').touched">
                <p *ngIf="form.get('edad').hasError('required')">
                  Se requiere este campo
                </p>
                <p *ngIf="form.get('edad').hasError('max')">
                  La edad no debe ser mayor 10
                </p>
                <p *ngIf="form.get('edad').hasError('min')">
                  La edad no puede ser menor a 2
                </p> 
                <p *ngIf="form.get('edad').hasError('pattern')">
                  La edad solo debe tener numeros
                </p>
              </mat-hint>
            </mat-form-field>
        </div>

        <div class="prueba">
            <mat-form-field appearance="outline" class="tamano">
              <mat-label>Grado de Autismo</mat-label>
              <input matInput type="number" placeholder="#" formControlName="grado_autismo" class="formu">
              <mat-hint *ngIf="form.get('grado_autismo').errors && form.get('grado_autismo').touched">
                <p *ngIf="form.get('grado_autismo').hasError('required')">
                  Se requiere este campo
                </p>
                <p *ngIf="form.get('grado_autismo').hasError('max')">
                  El grado de autismo debe ser 1, 2 o 3
                </p>
                <p *ngIf="form.get('grado_autismo').hasError('min')">
                  El grado de autismo debe ser 1, 2 o 3
                </p> 
              </mat-hint>
            </mat-form-field>
        </div>

        <div class="prueba">
          <mat-form-field appearance="outline" class="tamano">
            <mat-label>Contraseña</mat-label>
            <input matInput placeholder="Contraseña" formControlName="clave" [type]="hide ? 'password' : 'text'">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-hint *ngIf="form.get('clave').errors && form.get('clave').touched">
              <p *ngIf="form.get('clave').hasError('required')">
                *Se requiere este campo
              </p>
              <p *ngIf="form.get('clave').hasError('minlength')">
                *Minimo 5 caracteres
              </p>
              <p *ngIf="form.get('clave').hasError('maxlength')">
                *Maximo 15 caracteres
              </p>
            </mat-hint>
          </mat-form-field>
        </div>
  
        <div class="centro">
          <button mat-raised-button [disabled]="form.invalid" color="primary"
            style="float: left; margin-left: 20px; margin-top: 20px;" class="boton" type="submit"
            (click)="registrar($event)">Enviar Registro
            <mat-icon>bookmark</mat-icon>
          </button>
        </div>
      </div>
    </form>