<div class="inicio">
    <div class="header">
        <img src="./assets/image/BannerPrincipal.png" alt="">
        <div class="txt-principal"  >
            <p style="color:#3F51B5" >Estimula tu comunicación <br> por medio de imitación verbal</p>
        </div>
    </div>
    <section>
    <div class="opciones-ingreso" id="ingresar">
        <h3>¿Como deseas registrarte?</h3>
        <div class="elementos">
            <div id="usuario" class="elementos-items"> <img src="./assets/image/administrador.png" alt=""> <br> <a mat-button
                    href="/registrarD">Docente</a>
            </div>
            <div id="conductor" class="elementos-items"><img src="./assets/image/usuario.png" alt=""> <br> <a mat-button
                 href="/registrarA">Acudiente</a>
            </div>
        </div>

    </div>
    <div id="demos" class="info">
        <h3>Prueba demos </h3>
        <button mat-raised-button color="warn" (click)="open()">Prueba de voz DEMO

        </button>
    </div>
    <div id="quienessomos" class="info">
        <h3>¿Quienes somos?</h3>
        <p>Autiweb, es un aplicacion web que permite a los niños con Transtorno de espectro autista
            estimular su comunicación a partir de ejercios como la imitacion verbal por medio de 
            actividades escolares.
        </p>
    </div>
</section>
</div>