<div >
  <!--<h1 >Reporte</h1>-->
  <div class="dashboard">
    <div class="container">
      <!--aca va el codigo para las actividades-->
      <highcharts-chart  *ngIf="chartOptions" [Highcharts]="Highcharts" [options]="chartOptions">
      </highcharts-chart>
    </div>
  </div>
  <div class="information card">
    <mat-card class="information example-card">
      <mat-card-title>Información de la actividad</mat-card-title>
      <mat-card-subtitle>Descripción de la actividad</mat-card-subtitle>
      <mat-card-content>
        <p>Nombre de la actividad : {{actividadInfo.NombreActividad}} </p>
        <p>Descripción : {{actividadInfo.Descripcion}} </p>
      </mat-card-content>
    </mat-card>
    <mat-card class="information example-card">
      <mat-card-title>Información del niño</mat-card-title>
      <mat-card-subtitle>Información personal</mat-card-subtitle>
      <mat-card-content>
        <p>Nombre de niño : {{usuarioPaciente.nombre}} {{usuarioPaciente.apellido}}</p>
        <p>Grado de autismo : {{usuarioPaciente.grado_autismo}}</p>
        <p>Edad : {{usuarioPaciente.edad}}</p>
      </mat-card-content>
    </mat-card>
    <mat-card class="information example-card">
      <mat-card-title>Promedio de la actividad</mat-card-title>
      <mat-card-subtitle>Promedio en porcentaje</mat-card-subtitle>
      <mat-card-content>
        <p>El promedio evaludo hasta el: {{fecha_Hoy}}</p>
        <p>Promedio acumulado: {{promedioActividad}} %</p>
      </mat-card-content>
    </mat-card>
  </div>
</div>
