<mat-card>
    <mat-card-title>Login</mat-card-title>
    <mat-card-content>
      <div class="total">
        <form [formGroup]="formul" class="form-inline">
  
          <p>
            <mat-form-field>
              <input type="text" matInput placeholder="Username" formControlName="user" />
              <mat-hint *ngIf="formul.get('user').errors && formul.get('user').touched">
                <p *ngIf="formul.get('user').hasError('required')">
                  *Se requiere este campo
                </p>
                <p *ngIf="formul.get('user').hasError('minlength')">
                  *Minimo 3 caracteres
                </p>
                <p *ngIf="formul.get('user').hasError('maxlength')">
                  *Maximo 15 caracteres
                </p>
              </mat-hint>
            </mat-form-field>
          </p>
          <p>
            <mat-form-field>
              <input matInput placeholder="Password" formControlName="pass" [type]="hide ? 'password' : 'text'">
              <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
              <mat-hint *ngIf="formul.get('pass').errors && formul.get('pass').touched">
                <p *ngIf="formul.get('pass').hasError('required')">
                  *Se requiere este campo
                </p>
                <p *ngIf="formul.get('pass').hasError('minlength')">
                  *Minimo 3 caracteres
                </p>
                <p *ngIf="formul.get('pass').hasError('maxlength')">
                  *Maximo 15 caracteres
                </p>
              </mat-hint>
            </mat-form-field>
          </p>
          <button type="submit" mat-raised-button color="primary" [disabled]="formul.invalid"
            (click)="ingresar($event)">Login</button>
  
        </form>
  
      </div>
    </mat-card-content>
  </mat-card>
  