<div class="example-container">

  <mat-toolbar color="primary" class="example-toolbar">
    <button mat-icon-button (click)="drawer.toggle()">
      <mat-icon *ngIf="!drawer.opened">menu</mat-icon>
      <mat-icon *ngIf="drawer.opened">close</mat-icon>
    </button>
    <h1 class="example-app-name">¡Bienvenido! {{usuario}}</h1>

    <span class="example-spacer"></span>
    <button mat-button>¿Quienes somos?</button>
    <div *ngIf="!flagSesion">
      <button mat-raised-button target="_blank" [matMenuTriggerFor]="menuR">Registrese</button>
      <mat-menu #menuR="matMenu">
        <button mat-menu-item [routerLink]="['registrarD']">Como Docente</button>
        <button mat-menu-item [routerLink]="['registrarA']">Como Acudiente</button>
      </mat-menu>
    </div>

    <div *ngIf="flagRol">
      <button mat-raised-button target="_blank" [matMenuTriggerFor]="menu">Registrar</button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item [routerLink]="['registrarP']">Registrar Estudiante</button>
      </mat-menu>
    </div>

    <div>
      <button [disabled]="!flagSesion" mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
    </div>

    <mat-menu #menu="matMenu">
      <button mat-menu-item routerLink="/perfil">
        <mat-icon>account_box</mat-icon>
        <span>Mi Perfil</span>
      </button>
      <button mat-menu-item (click)="cerrarSession()">
        <mat-icon>exit_to_app</mat-icon>
        <span>Cerrar Sesión</span>
      </button>
    </mat-menu>
  </mat-toolbar>

  <mat-drawer-container class="example-sidenav-content" autosize>
    <mat-drawer #drawer style="width: 200px" mode="side">
      <div *ngIf="!flagSesion">
        <button mat-menu-item (click)="drawer.toggle()" style="cursor: pointer" [routerLink]="['/login']">
          <mat-icon>manage accounts</mat-icon>
          <span>Ingresar</span>
        </button>
        <mat-divider></mat-divider>
      </div>
      <div [hidden]="!flagSesion">
        <div *ngIf="rol==1">
          <button mat-menu-item (click)="drawer.toggle()" style="cursor: pointer" [routerLink]="['/registrarP']">
            <mat-icon>manage accounts</mat-icon>
            <span>Registrar Estudiante</span>
          </button>
          <mat-divider></mat-divider>
        </div>
      </div>
      <div [hidden]="!flagSesion">
        <div *ngIf="rol==1">
          <button mat-menu-item (click)="drawer.toggle()" style="cursor: pointer" [routerLink]="['/registrarP']">
            <mat-icon>face</mat-icon>
            <span>Estudiantes</span>
          </button>
          <mat-divider></mat-divider>
        </div>
      </div>
      <div [hidden]="!flagSesion">
        <div>
          <button mat-menu-item (click)="drawer.toggle()" style="cursor: pointer" [routerLink]="['/registrarP']">
            <mat-icon>fact_check</mat-icon>
            <span>Ver resultados</span>
          </button>
          <mat-divider></mat-divider>
        </div>
      </div>
    </mat-drawer>
    <div class="example-sidenav-content">
      <router-outlet></router-outlet>
    </div>
    <p>

  </mat-drawer-container>

</div>