<div class="activityCards">
  <mat-card class="example-card" (click)="actividadSeleccionada(1)">
    <mat-card-title-group>
      <mat-card-title>Actividades de texto</mat-card-title>
      <mat-card-subtitle>Imitacion verbal</mat-card-subtitle>
      <img mat-card-xl-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" 
      alt="">
    </mat-card-title-group>
  </mat-card>
    <mat-card class="example-card" (click)="actividadSeleccionada(2)">
      <mat-card-title-group>
        <mat-card-title>Actividades de imagenes</mat-card-title>
        <mat-card-subtitle>Descripción imagen</mat-card-subtitle>
        <img mat-card-xl-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" 
        alt="">
      </mat-card-title-group>
    </mat-card>
</div>